{% extends "_layout.html" %}
{% block content %}
<style>
  .permission-container {
    display: flex;
    flex-direction: row;
  }

  .invite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-space { margin-top: 0.5em; }

  input[type="checkbox"] {
    margin-right: .5em;
    margin-bottom: .1em;
  }
</style>

<section class="me unset">
  <div class="avatar-container">
    <img src="https://avatars.githubusercontent.com/u/37005026?s=200&v=4" class="image-title">
  </div>
  <div class="unset">
    <h1 class="title">Invite xelA</h1>
  </div>
</section>

<div class="flex-grid">

  <div class="col-xs-6">
    <div class="box-container primary-bg">
      <h2 class="no-margin">Server install</h2>
      <p>
        <span class="sun-flower-text">Note: </span>
        This option requires you to be whitelisted to use. You can request access to it
        <a href="{{ support }}" class="emerald-text" target="_blank">here</a>.
      </p>
      <div class="permission-container">
        <input type="checkbox" id="permissions" name="permissions">
        <label for="permissions" class="no-margin">Enable bot role</label>
      </div>
      <i class="greyple-text">To remove the role later, you need to whitelist the bot again to update oauth.</i>
      <div class="small-space">
        <a href="/oauth2/guild" id="invite" class="btn emerald-bg black-text">Invite xelA to server</a>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="box-container primary-bg">
      <h2 class="no-margin"><span class="sun-flower-text">[ NEW ]</span> User access</h2>
      <i class="greyple-text">This one does not require whitelist, but has limited commands.</i>
      <ul>
        <li>Use commands in private messages</li>
        <li>Use commands in servers without xelA</li>
        <li><s>Flex xelA anywhere you want ✨</s></li>
      </ul>
      <div><a href="/oauth2/user" class="btn emerald-bg black-text">Add xelA to account</a></div>
    </div>
  </div>

</div>

<script>
  const permissions = document.getElementById("permissions")
  const invite = document.getElementById("invite")

  permissions.addEventListener("change", () => {
    if (permissions.checked) {
      invite.href = "/oauth2/guild?permissions={{ permissions }}"
      invite.innerText = "Add xelA to a server, with bot role"
      invite.style.backgroundColor = "#f1c40f"
    } else {
      invite.href = "/oauth2/guild"
      invite.innerText = "Add xelA to a server"
      invite.style.backgroundColor = "#2ecc71"
    }
  })

</script>
{% endblock %}
