{% extends "_layout.html" %}
{% block content %}
<style>
  .permission-container {
    display: flex;
    flex-direction: row;
  }

  .invite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="checkbox"] {
    margin-right: .5em;
    margin-bottom: .1em;
  }
</style>

<section class="me unset">
  <div class="avatar-container">
    <img src="https://avatars.githubusercontent.com/u/37005026?s=200&v=4" class="image-title">
  </div>
  <div class="unset">
    <h1 class="title">Invite xelA</h1>
  </div>
</section>

<div class="box-container no-margin">
  <div class="box-container primary-bg no-margin">

    <div class="permission-container">
      <input type="checkbox" id="permissions" name="permissions">
      <label for="permissions" class="no-margin">Enable bot role</label>
    </div>
    <i class="greyple-text">To remove the role later, you need to whitelist the bot again to update oauth.</i>

    <div class="permission-container">
      <input type="checkbox" id="user_install" name="user_install">
      <label for="user_install" class="no-margin"><span class="sun-flower-text">[ NEW ]</span> User install</label>
    </div>
    <i class="greyple-text">This will install xelA to your user account instead with limited commands, however it does not require whitelist!</i>

  </div>

</div>

<div class="box-container">
  <div class="buttons">
    <a href="/oauth2/guild" id="invite" class="btn emerald-bg black-text">Add xelA to a server</a>
  </div>
</div>

<script>
  const permissions = document.getElementById("permissions")
  const invite = document.getElementById("invite")
  const user_install = document.getElementById("user_install")

  function default_button() {
    invite.href = "/oauth2/guild"
    invite.innerText = "Add xelA to a server"
    invite.style.backgroundColor = "#2ecc71"
  }

  permissions.addEventListener("change", () => {
    if (permissions.checked) {
      user_install.checked = false
      invite.href = "/oauth2/guild?permissions={{ permissions }}"
      invite.innerText = "Add xelA to a server, with bot role"
      invite.style.backgroundColor = "#f1c40f"
    } else {
      default_button()
    }
  })

  user_install.addEventListener("change", () => {
    if (user_install.checked) {
      permissions.checked = false
      invite.href = "/oauth2/user"
      invite.innerText = "Install xelA to your user account"
      invite.style.backgroundColor = "#1abc9c"
    } else {
      default_button()
    }
  })
</script>
{% endblock %}
