{% extends "_error.html" %}
{% block content %}
<style>
  .permission-container {
    display: flex;
    flex-direction: row;
  }

  .invite-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #invite {
    padding: .5em 1em;
    background-color: #2ecc71;
    color: #000;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
  }

  .small-box {
    max-width: 35em;
    margin-bottom: 3em;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: .5em;
  }

  .title-container img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }

  .title-container .title-xela {
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: .2em;
  }

  label { line-height: 18px; }
</style>

<div class="title-container">
  <img src="https://avatars.githubusercontent.com/u/37005026?s=200&v=4">
  <h1 class="title-xela">Invite xelA</h1>
</div>

<p class="small-box">
  <b class="sun-flower-text">NOTE:</b> Before attempting to invite the bot.
  Make sure that you have already requested for whitelist so you don't start scratching your head
  when you see that you are not allowed to invite xelA. Thank you 💖
</p>

<div class="permission-container">
  <input type="checkbox" id="permissions" name="permissions">
  <label for="permissions">Enable bot role</label>
</div>

<div class="invite-container">
  <a href="{{ oauth_url | safe }}" id="invite">Invite bot</a>
  <input type="text" id="invite-code" placeholder="Permission code..." pattern="[0-9]{1,}" style="display: none;">
</div>

<script>
  const permissions = document.getElementById("permissions")
  const invite = document.getElementById("invite")

  permissions.addEventListener("change", () => {
    if (permissions.checked) {
      invite.href = "{{ oauth_url | safe }}&permissions={{ permissions }}"
      invite.innerText = "Invite bot with bot role"
      invite.style.backgroundColor = "#f1c40f"
    } else {
      invite.href = "{{ oauth_url | safe }}"
      invite.innerText = "Invite bot"
      invite.style.backgroundColor = "#2ecc71"
    }
  });
</script>
{% endblock %}
